
.body {
    height: 100%;
    min-height: 100px;
    position: relative;
    background: #fff;
    font-size: 14px;
    color: #5a5a5a;
    z-index:1;
    font-family: "Arial Black";
}
a {
    text-decoration: none;
    color: #958671;
    font-family: "Arial Unicode MS";
}
img {
    height: 190px;
    padding: 20px;
    background-color: antiquewhite;

}
.menu {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align:center ;
}
.menu li{
    color: #958671;
    padding: 0 15px;
    display: inline-block;
}


.menu li:hover,.active a{
    color: red;
}
.menu li.active
{

}

.menu li a {
    text-decoration: none;
    color: #958671;
    transition: 0.3s;
}

.dropdown-menu {
    opacity: 0; /*hide*/
    width: 230px;
    position: absolute;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    color: red;
    transition: 0.3s;
}

.dropdown-menu li{
    list-style: none;
    padding: 7px 0;

}

.dropdown-menu li a{
    color: #ffff;
    font-size: 18px;
    text-align: right;
}

.dropdown:hover .dropdown-menu{ /*apply dropdown-menu display*/
    opacity:1; /* display on hover*/
}

.spoiler_body {display:none;}
.spoiler_links {cursor:pointer;}



.header {
    position: relative;
    width: 1170px;
    padding: 0 5px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    height: 15px;
}

.container {
    position: relative;
    top: 0px;
    width: 1000px;
    margin: auto;
    margin-top: -20px;
    box-sizing: border-box;
    padding-left: 40px;
    display: table;
  /* background-color: blue;
    height: 200px;*/
    color: rgb(229, 132, 21);
    font-weight: bold;


}


.menu2 {
    position: relative;
    top: -30px;
    right: 20px;
    margin-right: 50px;
    color: #958671;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    font-family: "Philosopher";
    height: 30px;
    border-bottom: #000000;
    border-bottom: solid;
/*    background-color: darkgray; */
    float: right;


}

.company{
    color: rgb(229, 132, 21);
}

.company:hover {
    background-color: #958671 ;

}
ul.submenu{
    display: block;
}
/*.total {
    float: left;
    color: rgb(229, 132, 21);
    border-bottom: #000000;
    border-bottom: solid;
    background-color: darkgray;
    padding-left: 30px;
    line-height: 27px;
    height: 30px;
    border-bottom: #000000;
    border-bottom: solid;
    display: inline-block;
}
*/
ul.menu2 li {
    position: relative;
    float: left;
    color: #958671;
    padding-left: 30px;
    line-height: 27px;
    list-style-type: none;


}
.submenu1{
    display: none;
}
